@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply text-gray-800 bg-gray-50;
}

main {
    @apply my-20;
}

content-page {
    @apply block w-11/12 mx-auto mt-20;
}

meal-list {
    @apply grid grid-cols-1 gap-6;
}

@screen sm {
    meal-list {
        @apply grid-cols-3;
    }
}

@screen md {
    meal-list {
        @apply grid-cols-3;
    }
}

@screen lg {
    content-page {
        @apply w-3/4;
    }

    meal-list {
        @apply grid-cols-3;
    }
}

@screen xl {
    meal-list {
        @apply grid-cols-4;
    }
}


.right-sidebar--close {
    transform: translateX(100%);
    transition: transform .2s ease;
}

@screen md {
    .right-sidebar--close {
        transform: none;
    }
}

.right-sidebar--open {
    transform: none;
}